<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="../static/imgs/favicon.ico" />
		<title>Home</title>
	</head>

	<body>
		<h1>Projects in Flask</h1>
		<p>
			We can code the backend of our site in <strong>Python</strong> and
			it will show on the web.
		</p>
		<ol>
			<li><a href="/prime">Generate prime numbers</a></li>
			<li><a href="/galton">Galton Board</a></li>
			<li><a href="/petrol">Precio petróleo</a></li>
			<li><a href="/stocks">Precio de acciones</a></li>
		</ol>
	</body>
</html>
